.content > .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background: var(--light-gray);
  margin-bottom: 1rem;
  padding: 10px 0;
}

.content > .hero > h2 {
  padding-left: 1rem;
}

.content > .hero > img {
  width: 300%;
}

@media screen and (min-width: 540px) {
  .content > .hero > img {
    width: 150%;
  }
}

@media screen and (min-width: 800px) {
  .content > .hero > img {
    width: 50%;
  }
}

@media screen and (min-width: 1300px) {
  .content > .hero > img {
    width: 40%;
  }
}
